[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-braces = "==1.13.0"
django-configurations = "==2.1"
django-debug-toolbar = "==1.10.1"
django-dotenv = "==1.4.2"
django-extensions = "==2.1.2"
djangorestframework = "==3.8.2"
Django = "==2.*"

[dev-packages]
jedi = "*"
neovim = "==0.2.6"
ipython = "*"
pipenv = "*" # https://github.com/pypa/pipenv/issues/2952
pylint = "*"

[requires]
python_version = "3.7"
